body{
    padding-top: 70px;
}

.navbar-btn{
    margin-left: 10px;
}

.carousel{
    height: 400px;
    background-color: #000;
}

.carousel .item{
    height: 400px;
    background-color: #000;
}

.carousel img{
    width: 100%;
}