body {
    padding-top: 50px;
}

/*container*/
.container {
    width: 100%;
}

/*carousel*/
.carousel {
    height: 400px;
    background-color: #000;
    margin-bottom: 50px;
}

.carousel .item {
    height: 400px;
    background-color: #000;
}

.carousel img {
    width: 100%;
}

/*hr*/
hr.divider {
    margin: 40px 0;
}

/*nav*/

.btn-grp {
    margin: 35px;
    text-align: center;
    padding-right: 100px;
}

.navbar-btn {
    margin-left: 10px;
}

.navbar-brand img {
    position: absolute;
    left: 80px;
    top: 6px;
}

.navbar-left {
    padding-left: 100px;
}

.navbar-right {
    padding-right: 100px;
}

.navbar p {
    padding-right: 20px;
}

/*index-top10*/
.top10 table a {
    color: #000;
}

/*index-placedata*/
.tab-content td a {
    color: #000;
}

.tab-content td {
    margin: 0 auto;
}

/*table*/
.table-responsive td a {
    color: black;
}

/*left_filter*/
.left_filter {
    float: left;
    padding-top: 20px;
    padding-left: 220px;
}

.panel {
    width: 180px;
    margin-top: 25px;
}

.panel-heading {
    padding: 5px 10px;
}

.panel-body {
    padding: 5px 5px;
}

.panel-body ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.panel-body li {
    float: left;
    padding: 0 5px;
    width: 33%;
}

.panel-body a {
    color: black;
    text-decoration-line: none;
    padding: 2px 3px;
}

.panel-body a:hover {
    color: blue;
}

.panel-body a.active {
    background-color: blue;
    color: white;
}

/*player_list*/
.player_list {
    clear: right;
    width: 70%;
    margin-left: 200px;
    padding-left: 250px;
    padding-right: 80px;
    padding-top: 50px;
}

.player_list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.player_list li {
    float: left;
    padding: 10px 10px;
}

.player_list a.thumbnail {
    margin-bottom: 5px;
    width: 110px;
}

.player_list .thumbnail {
    margin-bottom: 15px;
    width: 130px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.player_list .caption {
    padding: 0;
    text-align: center;
    font-size: 14px;
}

.player_list .col-md-3 {
    margin-left: -10px;
    margin-right: -10px;
}

/*pager*/
.nav-pager {
    clear: left;
}

/*table*/
.table_style {
    clear: left;
    padding-top: 20px;
}

/*aboutsite*/
.aboutsite {
    padding-top: 20px;
    padding-left: 50px;
    width: 750px;
}

.aboutsite button{

}

