body {
    padding-top: 50px;
}

/*container*/
.container {
    width: 100%;
}

/*carousel*/
.carousel {
    height: 400px;
    background-color: #000;
    margin-bottom: 50px;
}

.carousel .item {
    height: 400px;
    background-color: #000;
}

.carousel img {
    width: 100%;
}

.carousel-caption{
    margin-left: auto;
}

/*hr*/
hr.divider {
    margin: 40px 0;
}

/*nav*/

.btn-grp {
    margin: 35px;
    text-align: center;
    padding-right: 100px;
}

.navbar-btn {
    margin-left: 10px;
}

.navbar-brand img {
    position: absolute;
    left: 80px;
    top: 6px;
}

.navbar-left {
    padding-left: 170px;
}

.navbar-right {
    padding-right: 100px;
}

.navbar p {
    padding-right: 20px;
}

/*index-top10*/
.top10 table a {
    color: #000;
}

/*index-placedata*/
.tab-content td a {
    color: #000;
}

.tab-content td {
    margin: 0 auto;
}

/*table*/
.table-responsive td a {
    color: black;
}

/*left_filter*/
.left_filter {
    float: left;
    padding-top: 20px;
    padding-left: 220px;
}

.panel {
    width: 180px;
    margin-top: 25px;
}

.panel-heading {
    padding: 5px 10px;
}

.panel-body {
    padding: 5px 5px;
}

.panel-body ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.panel-body li {
    float: left;
    padding: 0 5px;
    width: 33%;
}

.panel-body a {
    color: black;
    text-decoration-line: none;
    padding: 2px 3px;
}

.panel-body a:hover {
    color: blue;
}

.panel-body a.active {
    background-color: blue;
    color: white;
}

/*player_list*/
.player_list {
    clear: right;
    width: 70%;
    margin-left: 200px;
    padding-left: 250px;
    padding-right: 80px;
    padding-top: 50px;
}

.player_list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.player_list li {
    float: left;
    padding: 10px 10px;
}

.player_list a.thumbnail {
    margin-bottom: 5px;
    width: 110px;
}

.player_list .thumbnail {
    margin-bottom: 15px;
    width: 130px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.player_list .caption {
    padding: 0;
    text-align: center;
    font-size: 14px;
}

.player_list .col-md-3 {
    margin-left: -10px;
    margin-right: -10px;
}

/*pager*/
.nav-pager {
    clear: left;
}

/*table*/
.table_style {
    clear: left;
    padding-top: 20px;
}

/*aboutsite*/
.aboutsite {
    padding-top: 20px;
    padding-left: 50px;
    width: 750px;
}

.btn-amount {
    margin-right: 100px;
}

.modal-pay-body {
    text-align: center;
}

.btn-pay-amount {
    float: left;
}

.input-group-addon {
    width: 100px;
}

.input-group .form-control {
    width: 450px;
}

/*sponsor-wall*/
.sponsorListHolder {
    margin-bottom: 30px;
}

.sponsor {
    width: 140px;
    height: 140px;
    float: left;
    margin: 4px;
    position: relative;
    cursor: pointer;
}

.sponsorFlip {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    background: url("../img/bg/background.jpg") no-repeat center center #f9f9f9;
}

.sponsorFlip:hover {
    border: 1px solid #999;
    -moz-box-shadow: 0 0 30px #999 inset;
    -webkit-box-shadow: 0 0 30px #999 inset;
    box-shadow: 0 0 30px #999 inset;
}

.sponsorFlip img {
    position: relative;
    opacity: 0.5;
    top: 50%;
    left: 50%;
    margin: -70px 0 0 -70px;
}

.sponsorFlip p {
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    color: #4169E1;
    font-family: 'Microsoft YaHei', Georgia, Serif, serif;
    margin-left: 25%;
}

.sponsorData {
    display: none;
}

.sponsorDescription {
    font-size: 11px;
    padding: 50px 10px 20px 20px;
    font-style: italic;
}

.sponsorURL {
    font-size: 10px;
    font-weight: bold;
    padding-left: 20px;
}

#sponsor-wall {
    /*position: relative;*/
    padding-top: 50px;
    margin: 0 140px;
    width: 480px;
    float: right;
}



