{% extends "bootstrap/base.html" %}
{% block title %}撸韩服{% endblock %}
{% block metas %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">{{ super() }}
{% endblock %}
{% block head %}
{{ super() }}
<link rel="shotcut icon" href="{{ url_for('static',filename='img/icon/corn-5.png') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static',filename='img/icon/corn-5.png') }}" type="image/x-icon">
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/lolhf.css') }}">
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/lolhf.js') }}"></script>
{% endblock %}
{% block navbar %}
    {% set navigation_bar = [
    ('/', 'index', '首页'),
    ('/ladder', 'ladder', '天梯'),
    ('/query', 'query', '查询'),
    ('/help','help','支持本站')
    ] -%}
    {% set active_page = active_page|default('index') -%}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ url_for('main.index') }}" class="navbar-brand">
                    <img src="{{ url_for('static',filename='img/icon/corn-4.png') }}" width="30" height="40" alt="LOL">
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left ">
                    {% for href, id, caption in navigation_bar %}
                        <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href }}">{{ caption }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button type="button" class="btn btn-primary btn-xs navbar-btn">Alpha版本</button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary btn-xs navbar-btn">免登陆</button>
                    </li>
                </ul>
                <p class="navbar-text navbar-right">本站送给喜欢LOL并且关注韩服的召唤师</p>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        {% block pagecontent %}{% endblock %}
        <hr class="divider">
        <footer>
            <p class="pull-right"><a href="#top">回到顶部</a></p>
            <p>Copyright © shepherd 2016,powered by flask and bootstrap</p>
        </footer>
    </div>
{% endblock %}
